<div class="span3"></div>
<div class="span6 well" id="select_room_container">
  <form id="select_room_form">
    <p class="lead">
      Welcome to ChatLoop ! <br>
      Please enter the name of the chat room you would like to join
    </p>
    <input id="name" class="form-control" type="text" class="form-control" value="{{name}}"/>
    <button type="submit" class="btn btn-primary btn-lg">Go</button>
  </form>
</div>
<div class="span3"></div>