<form id="new_message_form">
  <input id="message_content" class="form-control" type="text" placeholder="Type your message here ..."/>
  <button class="btn btn-info" type="submit">Send</button>
</form>