<form id="new_message_form">
  <div class="col-xs-11 no-gutter">
    <input id="message_content" class="form-control" type="text" placeholder="Type your message here ..."/>
  </div>

  <div class="col-xs-1 no-gutter">
    <button class="btn btn-info form-control" type="submit">Send</button>
  </div>
</form>