.navbar-collapse.collapse
  %ul.nav.navbar-nav
    %li
      %a{:href => "https://twitter.com/squidcs",:target => "_blank"}
        %i.icon-twitter.icon-large
    %li
      %a{:href => "https://github.com/didil",:target => "_blank"}
        %i.icon-github-sign.icon-large
    %li
      %a{:href => "https://www.facebook.com/adil.haritah",:target => "_blank"}
        %i.icon-facebook-sign.icon-large
    %li
      %a{:href => "https://plus.google.com/u/0/103196028640275127879",:target => "_blank"}
        %i.icon-google-plus-sign.icon-large
  %ul.nav.navbar-nav.navbar-right
    %li
      %a{:href => "#"}  &copy; 2013 Adil Haritah